:root {
    --main-bg-color: #f0f0f0;
    --main-bg-light: #fff;
    --main-text-color: #333;
    --main-text-light: #ccc;
    --primary-color: #007bff;
    --secondary-color: #003670;
    --light-color: #fff;
    --font-family: Arial, sans-serif;
    --header-height: 60px;

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

}

header {
    background-color: var(--primary-color);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: var(--light-color);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
}

nav a:hover {
    background-color: var(--secondary-color);
}

.nav-hide {
    display: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.hero {
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    padding: 40 20;
    color: var(--light-color);
    border-radius: 8px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.hero .cta {
    display: block;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    margin: 20 auto 0 auto;
    max-width: 400;
    padding: 15;
    border-radius: 8px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about,
.services,
.portifolio,
.contact {
    text-align: center;
    padding: 40 20;
}

h2 {
    margin-bottom: 20px;
}

.about {
    border-bottom: 1px solid var(--main-text-light);
}

.about img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.about p {
    margin: 10px auto;
    max-width: 600px;
}

.service-area {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.service-item {
    flex: 1;
    background-color: var(--main-bg-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1, );
    transition: all 0.3s ease;
}

.service-item h3 {
    margin-bottom: 10px;
}

.service-item .service-icon {
    font-size: 50px;
}

.service-item:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1, );
    transition: all 0.3s ease;
}

.grid-item img:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

form label {
    text-align: left;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid var(--main-text-light);
    color: var(--main-text-color);
    border-radius: 8px;
}

form button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    transform: scale(1.05);
}

footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 20px;
    display: flex;
    gap: 20px;
    text-align: center;
    flex-direction: column;
}

@media (width > 700px) {
    .nav-hide {
        display: block;
    }

    .service-area {
        flex-direction: row;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}